body {
    background-color: #f5f5f7;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;

    text-align: center;
    line-height: 1.6;


    margin: 0;
    padding-top: 150px;
}

h1 {
    font-size: 64px;

    color: #1d1d1f;

    margin-bottom: 10px;
}
p {
    font-size: 24px;

    color: #6e6e73;

    margin: 10px 0;
}
nav {
    display: flex;

    justify-content:space-between ;

    align-items: center;

    padding: 20px 60px;
}
nav a {
    text-decoration: none;

    color: #1d1d1f;

    font-size: 18px;

    transition: 0.3s;
}
nav a:hover {
    color: #0071e3;
}
.menu {
    display: flex;

    gap: 35px;
}
.logo a {
    font-size: 24px;

    font-weight: bold;
}
.buttons {
    margin-top: 40px;

    display: flex;

    justify-content: center;

    gap: 20px;
}
.btn-primary {
    background: #0071e3;

    color: white;

    padding: 14px 28px;

    border-radius: 999px;

    text-decoration: none;

    font-weight: 600;
}
.btn-secondary {
    border: 2px solid #0071e3;

    color: #0071e3;

    padding: 14px 28px;

    border-radius: 999px;

    text-decoration: none;

    font-weight: 600;
}
.btn-primary,
.btn-secondary {
    transition: all 0.3s ease;
}
.btn-primary:hover {
    opacity: 0.85;
}
.btn-secondary:hover {
    background: #0071e3;

    color: white;
}
.hero {
    max-width: 800px;

    margin: 0 auto;
}
.about {
    margin-top: 180px;

    max-width: 800px;

    margin-left: auto;

    margin-right: auto;

    text-align: center;
}
.about h2 {
    font-size: 40px;

    color: #1d1d1f;
}
.about p {
    font-size: 20px;

    color: #6e6e73;

    line-height: 1.8;
}
.projects {
    max-width: 900px;
    margin: 180px auto;
    text-align: center;
}
.project-card {
    background: white;

    padding: 30px;

    border-radius: 20px;

    margin-top: 30px;

    box-shadow: 0 8px 30px rgba(0,0,0,0.08);
}
